In [1]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Evaluar linealidad de las relaciones entre las variables
# ------------------------------------------------------------------------------
from scipy.stats import shapiro, kstest

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

# Ejercicios estadística descriptiva

---

En este caso usaremos el mismo DataFrame que hemos estado usando en los últimos ejercicios. El ejercicio que os planteamos es:

Eres un analista de datos que trabaja para una organización internacional que se enfoca en el desarrollo y el bienestar de los países. Tu objetivo es realizar un análisis inicial de estadísticas descriptivas sobre varios países utilizando el conjunto de datos proporcionado.

Objetivo: Realizar un análisis de estadísticas descriptivas para comprender mejor la situación de los países en términos de diversos indicadores.

---

In [3]:
df = pd.read_csv("_Data_/world_data_full_apply_nulos.csv", index_col = 0)
df.head()

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,continent
0,Afghanistan,60.0,AF,58.1,652.230,323.0,32.49,93.0,Kabul,8.672,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,NaN,48.9,9.3,71.4,11.12,NaN,33.939110,67.709953,Asia
1,Albania,105.0,AL,43.1,28.748,9.0,11.78,355.0,Tirana,4.536,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,NaN,55.7,18.6,36.6,12.33,NaN,41.153332,20.168331,Europe
2,Algeria,18.0,DZ,17.4,NaN,317.0,24.28,213.0,Algiers,150.006,151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,NaN,41.2,37.2,66.1,11.70,NaN,28.033886,1.659626,Africa
3,Andorra,164.0,AD,40.0,468.000,NaN,7.20,376.0,Andorra la Vella,469.000,NaN,NaN,EUR,1.27,34.0,1.51,3.154058e+09,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,77.142,NaN,NaN,NaN,NaN,67.873,42.506285,1.521801,Europe
4,Angola,26.0,AO,47.5,NaN,117.0,40.73,244.0,Luanda,34.693,261.73,17.1,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,NaN,77.5,9.2,49.1,6.89,NaN,-11.202692,17.873887,Africa

1. Calcula las siguientes estadísticas descriptivas para las variables numéricas:

Media

Mediana

Desviación estándar

Mínimo

Máximo

In [14]:
numericas = df.select_dtypes(include=['number']).columns
numericas

Index(['density', 'agricultural_land', 'land_area', 'armed_forces_size',
       'birth_rate', 'calling_code', 'co2-emissions', 'cpi', 'cpi_change',
       'fertility_rate', 'forested_area', 'gasoline_price', 'gdp',
       'gross_primary_education_enrollment',
       'gross_tertiary_education_enrollment', 'infant_mortality',
       'life_expectancy', 'maternal_mortality_ratio', 'minimum_wage',
       'out_of_pocket_health_expenditure', 'physicians_per_thousand',
       'population', 'population_labor_force_participation', 'tax_revenue',
       'total_tax_rate', 'unemployment_rate', 'urban_population', 'latitude',
       'longitude'],
      dtype='object')

In [13]:
numericas = df.describe().columns
numericas

Index(['density', 'agricultural_land', 'land_area', 'armed_forces_size',
       'birth_rate', 'calling_code', 'co2-emissions', 'cpi', 'cpi_change',
       'fertility_rate', 'forested_area', 'gasoline_price', 'gdp',
       'gross_primary_education_enrollment',
       'gross_tertiary_education_enrollment', 'infant_mortality',
       'life_expectancy', 'maternal_mortality_ratio', 'minimum_wage',
       'out_of_pocket_health_expenditure', 'physicians_per_thousand',
       'population', 'population_labor_force_participation', 'tax_revenue',
       'total_tax_rate', 'unemployment_rate', 'urban_population', 'latitude',
       'longitude'],
      dtype='object')

In [12]:
estadisticas = df.groupby("country")[numericas].agg(["mean", "median", "std", "min", "max"])
estadisticas

            density                          agricultural_land             \
               mean median std    min    max              mean median std
country
Afghanistan    60.0   60.0 NaN   60.0   60.0              58.1   58.1 NaN
Albania       105.0  105.0 NaN  105.0  105.0              43.1   43.1 NaN
Algeria        18.0   18.0 NaN   18.0   18.0              17.4   17.4 NaN
Andorra       164.0  164.0 NaN  164.0  164.0              40.0   40.0 NaN
Angola         26.0   26.0 NaN   26.0   26.0              47.5   47.5 NaN
...             ...    ...  ..    ...    ...               ...    ...  ..
Venezuela      32.0   32.0 NaN   32.0   32.0              24.5   24.5 NaN
Vietnam       314.0  314.0 NaN  314.0  314.0              39.3   39.3 NaN
Yemen          56.0   56.0 NaN   56.0   56.0              44.6   44.6 NaN
Zambia         25.0   25.0 NaN   25.0   25.0              32.1   32.1 NaN
Zimbabwe       38.0   38.0 NaN   38.0   38.0              41.9   41.9 NaN

                        land_area                                 \
              min   max      mean   median std      min      max
country
Afghanistan  58.1  58.1   652.230  652.230 NaN  652.230  652.230
Albania      43.1  43.1    28.748   28.748 NaN   28.748   28.748
Algeria      17.4  17.4       NaN      NaN NaN      NaN      NaN
Andorra      40.0  40.0   468.000  468.000 NaN  468.000  468.000
Angola       47.5  47.5       NaN      NaN NaN      NaN      NaN
...           ...   ...       ...      ...  ..      ...      ...
Venezuela    24.5  24.5   912.050  912.050 NaN  912.050  912.050
Vietnam      39.3  39.3   331.210  331.210 NaN  331.210  331.210
Yemen        44.6  44.6   527.968  527.968 NaN  527.968  527.968
Zambia       32.1  32.1   752.618  752.618 NaN  752.618  752.618
Zimbabwe     41.9  41.9   390.757  390.757 NaN  390.757  390.757

            armed_forces_size                          birth_rate             \
                         mean median std    min    max       mean median std
country
Afghanistan             323.0  323.0 NaN  323.0  323.0      32.49  32.49 NaN
Albania                   9.0    9.0 NaN    9.0    9.0      11.78  11.78 NaN
Algeria                 317.0  317.0 NaN  317.0  317.0      24.28  24.28 NaN
Andorra                   NaN    NaN NaN    NaN    NaN       7.20   7.20 NaN
Angola                  117.0  117.0 NaN  117.0  117.0      40.73  40.73 NaN
...                       ...    ...  ..    ...    ...        ...    ...  ..
Venezuela               343.0  343.0 NaN  343.0  343.0      17.88  17.88 NaN
Vietnam                 522.0  522.0 NaN  522.0  522.0      16.75  16.75 NaN
Yemen                    40.0   40.0 NaN   40.0   40.0      30.45  30.45 NaN
Zambia                   16.0   16.0 NaN   16.0   16.0      36.19  36.19 NaN
Zimbabwe                 51.0   51.0 NaN   51.0   51.0      30.68  30.68 NaN

                          calling_code                          co2-emissions  \
               min    max         mean median std    min    max          mean
country
Afghanistan  32.49  32.49         93.0   93.0 NaN   93.0   93.0         8.672
Albania      11.78  11.78        355.0  355.0 NaN  355.0  355.0         4.536
Algeria      24.28  24.28        213.0  213.0 NaN  213.0  213.0       150.006
Andorra       7.20   7.20        376.0  376.0 NaN  376.0  376.0       469.000
Angola       40.73  40.73        244.0  244.0 NaN  244.0  244.0        34.693
...            ...    ...          ...    ...  ..    ...    ...           ...
Venezuela    17.88  17.88         58.0   58.0 NaN   58.0   58.0       164.175
Vietnam      16.75  16.75         84.0   84.0 NaN   84.0   84.0       192.668
Yemen        30.45  30.45        967.0  967.0 NaN  967.0  967.0        10.609
Zambia       36.19  36.19        260.0  260.0 NaN  260.0  260.0         5.141
Zimbabwe     30.68  30.68        263.0  263.0 NaN  263.0  263.0        10.983

                                               cpi                      \
              median std      min      max    mean  median std     min
country
Afghanistan    8.672 NaN    8.672    8.672  149.90  149.90 NaN  149.90
Albania        4.536 NaN    4.536    4.536  119.05  119.05 NaN  119.05
Algeria      150.006 NaN  150.006  150.006  151.36  151.36 NaN  151.36
Andorra      469.000 NaN  469.000  469.000     NaN     NaN NaN     NaN
Angola        34.693 NaN   34.693   34.693  261.73  261.73 NaN  261.73
...              ...  ..      ...      ...     ...     ...  ..     ...
Venezuela    164.175 NaN  164.175  164.175     NaN     NaN NaN     NaN
Vietnam      192.668 NaN  192.668  192.668  163.52  163.52 NaN  163.52
Yemen         10.609 NaN   10.609   10.609  157.58  157.58 NaN  157.58
Zambia         5.141 NaN    5.141    5.141  212.31  212.31 NaN  212.31
Zimbabwe      10.983 NaN   10.983   10.983  105.51  105.51 NaN  105.51

                    cpi_change                          fertility_rate         \
                max       mean median std    min    max           mean median
country
Afghanistan  149.90        2.3    2.3 NaN    2.3    2.3           4.47   4.47
Albania      119.05        1.4    1.4 NaN    1.4    1.4           1.62   1.62
Algeria      151.36        2.0    2.0 NaN    2.0    2.0           3.02   3.02
Andorra         NaN        NaN    NaN NaN    NaN    NaN           1.27   1.27
Angola       261.73       17.1   17.1 NaN   17.1   17.1           5.52   5.52
...             ...        ...    ...  ..    ...    ...            ...    ...
Venezuela       NaN      254.9  254.9 NaN  254.9  254.9           2.27   2.27
Vietnam      163.52        2.8    2.8 NaN    2.8    2.8           2.05   2.05
Yemen        157.58        8.1    8.1 NaN    8.1    8.1           3.79   3.79
Zambia       212.31        9.2    9.2 NaN    9.2    9.2           4.63   4.63
Zimbabwe     105.51        0.9    0.9 NaN    0.9    0.9           3.62   3.62

                            forested_area                         \
            std   min   max          mean median std   min   max
country
Afghanistan NaN  4.47  4.47           2.1    2.1 NaN   2.1   2.1
Albania     NaN  1.62  1.62          28.1   28.1 NaN  28.1  28.1
Algeria     NaN  3.02  3.02           0.8    0.8 NaN   0.8   0.8
Andorra     NaN  1.27  1.27          34.0   34.0 NaN  34.0  34.0
Angola      NaN  5.52  5.52          46.3   46.3 NaN  46.3  46.3
...          ..   ...   ...           ...    ...  ..   ...   ...
Venezuela   NaN  2.27  2.27          52.7   52.7 NaN  52.7  52.7
Vietnam     NaN  2.05  2.05          48.1   48.1 NaN  48.1  48.1
Yemen       NaN  3.79  3.79           1.0    1.0 NaN   1.0   1.0
Zambia      NaN  4.63  4.63          65.2   65.2 NaN  65.2  65.2
Zimbabwe    NaN  3.62  3.62          35.5   35.5 NaN  35.5  35.5

            gasoline_price                                  gdp                \
                      mean median std   min   max          mean        median
country
Afghanistan           0.70   0.70 NaN  0.70  0.70  1.910135e+10  1.910135e+10
Albania               1.36   1.36 NaN  1.36  1.36  1.527808e+10  1.527808e+10
Algeria               0.28   0.28 NaN  0.28  0.28  1.699882e+11  1.699882e+11
Andorra               1.51   1.51 NaN  1.51  1.51  3.154058e+09  3.154058e+09
Angola                0.97   0.97 NaN  0.97  0.97  9.463542e+10  9.463542e+10
...                    ...    ...  ..   ...   ...           ...           ...
Venezuela             0.00   0.00 NaN  0.00  0.00  4.823593e+11  4.823593e+11
Vietnam               0.80   0.80 NaN  0.80  0.80  2.619212e+11  2.619212e+11
Yemen                 0.92   0.92 NaN  0.92  0.92  2.691440e+10  2.691440e+10
Zambia                1.40   1.40 NaN  1.40  1.40  2.306472e+10  2.306472e+10
Zimbabwe              1.34   1.34 NaN  1.34  1.34  2.144076e+10  2.144076e+10

                                             \
            std           min           max
country
Afghanistan NaN  1.910135e+10  1.910135e+10
Albania     NaN  1.527808e+10  1.527808e+10
Algeria     NaN  1.699882e+11  1.699882e+11
Andorra     NaN  3.154058e+09  3.154058e+09
Angola      NaN  9.463542e+10  9.463542e+10
...          ..           ...           ...
Venezuela   NaN  4.823593e+11  4.823593e+11
Vietnam     NaN  2.619212e+11  2.619212e+11
Yemen       NaN  2.691440e+10  2.691440e+10
Zambia      NaN  2.306472e+10  2.306472e+10
Zimbabwe    NaN  2.144076e+10  2.144076e+10

            gross_primary_education_enrollment                           \
                                          mean median std    min    max
country
Afghanistan                              104.0  104.0 NaN  104.0  104.0
Albania                                  107.0  107.0 NaN  107.0  107.0
Algeria                                  109.9  109.9 NaN  109.9  109.9
Andorra                                  106.4  106.4 NaN  106.4  106.4
Angola                                   113.5  113.5 NaN  113.5  113.5
...                                        ...    ...  ..    ...    ...
Venezuela                                 97.2   97.2 NaN   97.2   97.2
Vietnam                                  110.6  110.6 NaN  110.6  110.6
Yemen                                     93.6   93.6 NaN   93.6   93.6
Zambia                                    98.7   98.7 NaN   98.7   98.7
Zimbabwe                                 109.9  109.9 NaN  109.9  109.9

            gross_tertiary_education_enrollment                         \
                                           mean median std   min   max
country
Afghanistan                                 9.7    9.7 NaN   9.7   9.7
Albania                                    55.0   55.0 NaN  55.0  55.0
Algeria                                    51.4   51.4 NaN  51.4  51.4
Andorra                                     NaN    NaN NaN   NaN   NaN
Angola                                      9.3    9.3 NaN   9.3   9.3
...                                         ...    ...  ..   ...   ...
Venezuela                                  79.3   79.3 NaN  79.3  79.3
Vietnam                                    28.5   28.5 NaN  28.5  28.5
Yemen                                      10.2   10.2 NaN  10.2  10.2
Zambia                                      4.1    4.1 NaN   4.1   4.1
Zimbabwe                                   10.0   10.0 NaN  10.0  10.0

            infant_mortality                        life_expectancy         \
                        mean median std   min   max            mean median
country
Afghanistan             47.9   47.9 NaN  47.9  47.9            64.5   64.5
Albania                  7.8    7.8 NaN   7.8   7.8            78.5   78.5
Algeria                 20.1   20.1 NaN  20.1  20.1            76.7   76.7
Andorra                  2.7    2.7 NaN   2.7   2.7             NaN    NaN
Angola                  51.6   51.6 NaN  51.6  51.6            60.8   60.8
...                      ...    ...  ..   ...   ...             ...    ...
Venezuela               21.4   21.4 NaN  21.4  21.4            72.1   72.1
Vietnam                 16.5   16.5 NaN  16.5  16.5            75.3   75.3
Yemen                   42.9   42.9 NaN  42.9  42.9            66.1   66.1
Zambia                  40.4   40.4 NaN  40.4  40.4            63.5   63.5
Zimbabwe                33.9   33.9 NaN  33.9  33.9            61.2   61.2

                            maternal_mortality_ratio                           \
            std   min   max                     mean median std    min    max
country
Afghanistan NaN  64.5  64.5                    638.0  638.0 NaN  638.0  638.0
Albania     NaN  78.5  78.5                     15.0   15.0 NaN   15.0   15.0
Algeria     NaN  76.7  76.7                    112.0  112.0 NaN  112.0  112.0
Andorra     NaN   NaN   NaN                      NaN    NaN NaN    NaN    NaN
Angola      NaN  60.8  60.8                    241.0  241.0 NaN  241.0  241.0
...          ..   ...   ...                      ...    ...  ..    ...    ...
Venezuela   NaN  72.1  72.1                    125.0  125.0 NaN  125.0  125.0
Vietnam     NaN  75.3  75.3                     43.0   43.0 NaN   43.0   43.0
Yemen       NaN  66.1  66.1                    164.0  164.0 NaN  164.0  164.0
Zambia      NaN  63.5  63.5                    213.0  213.0 NaN  213.0  213.0
Zimbabwe    NaN  61.2  61.2                    458.0  458.0 NaN  458.0  458.0

            minimum_wage                         \
                    mean median std   min   max
country
Afghanistan         0.43   0.43 NaN  0.43  0.43
Albania             1.12   1.12 NaN  1.12  1.12
Algeria             0.95   0.95 NaN  0.95  0.95
Andorra             6.63   6.63 NaN  6.63  6.63
Angola              0.71   0.71 NaN  0.71  0.71
...                  ...    ...  ..   ...   ...
Venezuela           0.01   0.01 NaN  0.01  0.01
Vietnam             0.73   0.73 NaN  0.73  0.73
Yemen                NaN    NaN NaN   NaN   NaN
Zambia              0.24   0.24 NaN  0.24  0.24
Zimbabwe             NaN    NaN NaN   NaN   NaN

            out_of_pocket_health_expenditure                         \
                                        mean median std   min   max
country
Afghanistan                             78.4   78.4 NaN  78.4  78.4
Albania                                 56.9   56.9 NaN  56.9  56.9
Algeria                                 28.1   28.1 NaN  28.1  28.1
Andorra                                 36.4   36.4 NaN  36.4  36.4
Angola                                  33.4   33.4 NaN  33.4  33.4
...                                      ...    ...  ..   ...   ...
Venezuela                               45.8   45.8 NaN  45.8  45.8
Vietnam                                 43.5   43.5 NaN  43.5  43.5
Yemen                                   81.0   81.0 NaN  81.0  81.0
Zambia                                  27.5   27.5 NaN  27.5  27.5
Zimbabwe                                25.8   25.8 NaN  25.8  25.8

            physicians_per_thousand                        population          \
                               mean median std   min   max       mean  median
country
Afghanistan                    0.28   0.28 NaN  0.28  0.28        NaN     NaN
Albania                        1.20   1.20 NaN  1.20  1.20        NaN     NaN
Algeria                        1.72   1.72 NaN  1.72  1.72        NaN     NaN
Andorra                        3.33   3.33 NaN  3.33  3.33     77.142  77.142
Angola                         0.21   0.21 NaN  0.21  0.21        NaN     NaN
...                             ...    ...  ..   ...   ...        ...     ...
Venezuela                      1.92   1.92 NaN  1.92  1.92        NaN     NaN
Vietnam                        0.82   0.82 NaN  0.82  0.82        NaN     NaN
Yemen                          0.31   0.31 NaN  0.31  0.31        NaN     NaN
Zambia                         1.19   1.19 NaN  1.19  1.19        NaN     NaN
Zimbabwe                       0.21   0.21 NaN  0.21  0.21        NaN     NaN

                                population_labor_force_participation         \
            std     min     max                                 mean median
country
Afghanistan NaN     NaN     NaN                                 48.9   48.9
Albania     NaN     NaN     NaN                                 55.7   55.7
Algeria     NaN     NaN     NaN                                 41.2   41.2
Andorra     NaN  77.142  77.142                                  NaN    NaN
Angola      NaN     NaN     NaN                                 77.5   77.5
...          ..     ...     ...                                  ...    ...
Venezuela   NaN     NaN     NaN                                 59.7   59.7
Vietnam     NaN     NaN     NaN                                 77.4   77.4
Yemen       NaN     NaN     NaN                                 38.0   38.0
Zambia      NaN     NaN     NaN                                 74.6   74.6
Zimbabwe    NaN     NaN     NaN                                 83.1   83.1

                            tax_revenue                        total_tax_rate  \
            std   min   max        mean median std   min   max           mean
country
Afghanistan NaN  48.9  48.9         9.3    9.3 NaN   9.3   9.3           71.4
Albania     NaN  55.7  55.7        18.6   18.6 NaN  18.6  18.6           36.6
Algeria     NaN  41.2  41.2        37.2   37.2 NaN  37.2  37.2           66.1
Andorra     NaN   NaN   NaN         NaN    NaN NaN   NaN   NaN            NaN
Angola      NaN  77.5  77.5         9.2    9.2 NaN   9.2   9.2           49.1
...          ..   ...   ...         ...    ...  ..   ...   ...            ...
Venezuela   NaN  59.7  59.7         NaN    NaN NaN   NaN   NaN           73.3
Vietnam     NaN  77.4  77.4        19.1   19.1 NaN  19.1  19.1           37.6
Yemen       NaN  38.0  38.0         NaN    NaN NaN   NaN   NaN           26.6
Zambia      NaN  74.6  74.6        16.2   16.2 NaN  16.2  16.2           15.6
Zimbabwe    NaN  83.1  83.1        20.7   20.7 NaN  20.7  20.7           31.6

                                   unemployment_rate                           \
            median std   min   max              mean median std    min    max
country
Afghanistan   71.4 NaN  71.4  71.4             11.12  11.12 NaN  11.12  11.12
Albania       36.6 NaN  36.6  36.6             12.33  12.33 NaN  12.33  12.33
Algeria       66.1 NaN  66.1  66.1             11.70  11.70 NaN  11.70  11.70
Andorra        NaN NaN   NaN   NaN               NaN    NaN NaN    NaN    NaN
Angola        49.1 NaN  49.1  49.1              6.89   6.89 NaN   6.89   6.89
...            ...  ..   ...   ...               ...    ...  ..    ...    ...
Venezuela     73.3 NaN  73.3  73.3              8.80   8.80 NaN   8.80   8.80
Vietnam       37.6 NaN  37.6  37.6              2.01   2.01 NaN   2.01   2.01
Yemen         26.6 NaN  26.6  26.6             12.91  12.91 NaN  12.91  12.91
Zambia        15.6 NaN  15.6  15.6             11.43  11.43 NaN  11.43  11.43
Zimbabwe      31.6 NaN  31.6  31.6              4.95   4.95 NaN   4.95   4.95

            urban_population                               latitude  \
                        mean  median std     min     max       mean
country
Afghanistan              NaN     NaN NaN     NaN     NaN  33.939110
Albania                  NaN     NaN NaN     NaN     NaN  41.153332
Algeria                  NaN     NaN NaN     NaN     NaN  28.033886
Andorra               67.873  67.873 NaN  67.873  67.873  42.506285
Angola                   NaN     NaN NaN     NaN     NaN -11.202692
...                      ...     ...  ..     ...     ...        ...
Venezuela                NaN     NaN NaN     NaN     NaN   6.423750
Vietnam                  NaN     NaN NaN     NaN     NaN  14.058324
Yemen                    NaN     NaN NaN     NaN     NaN  15.552727
Zambia                   NaN     NaN NaN     NaN     NaN -13.133897
Zimbabwe                 NaN     NaN NaN     NaN     NaN -19.015438

                                                   longitude                  \
                median std        min        max        mean      median std
country
Afghanistan  33.939110 NaN  33.939110  33.939110   67.709953   67.709953 NaN
Albania      41.153332 NaN  41.153332  41.153332   20.168331   20.168331 NaN
Algeria      28.033886 NaN  28.033886  28.033886    1.659626    1.659626 NaN
Andorra      42.506285 NaN  42.506285  42.506285    1.521801    1.521801 NaN
Angola      -11.202692 NaN -11.202692 -11.202692   17.873887   17.873887 NaN
...                ...  ..        ...        ...         ...         ...  ..
Venezuela     6.423750 NaN   6.423750   6.423750  -66.589730  -66.589730 NaN
Vietnam      14.058324 NaN  14.058324  14.058324  108.277199  108.277199 NaN
Yemen        15.552727 NaN  15.552727  15.552727   48.516388   48.516388 NaN
Zambia      -13.133897 NaN -13.133897 -13.133897   27.849332   27.849332 NaN
Zimbabwe    -19.015438 NaN -19.015438 -19.015438   29.154857   29.154857 NaN


                    min         max
country
Afghanistan   67.709953   67.709953
Albania       20.168331   20.168331
Algeria        1.659626    1.659626
Andorra        1.521801    1.521801
Angola        17.873887   17.873887
...                 ...         ...

In [16]:
numericas = list(numericas)

In [18]:
numericas

['density',
 'agricultural_land',
 'land_area',
 'armed_forces_size',
 'birth_rate',
 'calling_code',
 'co2-emissions',
 'cpi',
 'cpi_change',
 'fertility_rate',
 'forested_area',
 'gasoline_price',
 'gdp',
 'gross_primary_education_enrollment',
 'gross_tertiary_education_enrollment',
 'infant_mortality',
 'life_expectancy',
 'maternal_mortality_ratio',
 'minimum_wage',
 'out_of_pocket_health_expenditure',
 'physicians_per_thousand',
 'population',
 'population_labor_force_participation',
 'tax_revenue',
 'total_tax_rate',
 'unemployment_rate',
 'urban_population',
 'latitude',
 'longitude']

In [20]:
df["density"].mean()

134.5045333333333

In [26]:
def estadisticas(df, col):
    media = df[col].mean()
    mediana = df[col].median()
    desviacion = df[col].std()
    minimo = df[col].min()
    maximo = df[col].max()
    print(f"La media de la columna: {col}:{media}")
    print(f"La mediana de la columna: {col}:{mediana}")
    print(f"La desviacion de la columna: {col}:{desviacion}")
    print(f"El minimo de la columna: {col}:{minimo}")
    print(f"El maximo de la columna: {col}:{maximo}")

In [33]:
for col in numericas:
    print(f"COLUMNA: {col.upper()}")
    estadisticas(df, col)
    print("-----------------" * 5)

COLUMNA: DENSITY
La media de la columna: density:134.5045333333333
La mediana de la columna: density:83.0
La desviacion de la columna: density:157.3067742999071
El minimo de la columna: density:1.265
El maximo de la columna: density:847.0
-------------------------------------------------------------------------------------
COLUMNA: AGRICULTURAL_LAND
La media de la columna: agricultural_land:39.11755319148937
La mediana de la columna: agricultural_land:39.6
La desviacion de la columna: agricultural_land:21.783051852112166
El minimo de la columna: agricultural_land:0.6
El maximo de la columna: agricultural_land:82.6
-------------------------------------------------------------------------------------
COLUMNA: LAND_AREA
La media de la columna: land_area:255.21266060606064
La mediana de la columna: land_area:148.46
La desviacion de la columna: land_area:258.38500830296937
El minimo de la columna: land_area:0.0
El maximo de la columna: land_area:964.0
-------------------------------------------------------------------------------------
COLUMNA: ARMED_FORCES_SIZE
La media de la columna: armed_forces_size:103.78313253012048
La mediana de la columna: armed_forces_size:28.5
La desviacion de la columna: armed_forces_size:167.15803070422805
El minimo de la columna: armed_forces_size:0.0
El maximo de la columna: armed_forces_size:936.0
-------------------------------------------------------------------------------------
COLUMNA: BIRTH_RATE
La media de la columna: birth_rate:20.21497354497354
La mediana de la columna: birth_rate:17.95
La desviacion de la columna: birth_rate:9.945773753600422
El minimo de la columna: birth_rate:5.9
El maximo de la columna: birth_rate:46.08
-------------------------------------------------------------------------------------
COLUMNA: CALLING_CODE
La media de la columna: calling_code:360.54639175257734
La mediana de la columna: calling_code:255.5
La desviacion de la columna: calling_code:323.23641937558233
El minimo de la columna: calling_code:1.0
El maximo de la columna: calling_code:1876.0
-------------------------------------------------------------------------------------
COLUMNA: CO2-EMISSIONS
La media de la columna: co2-emissions:125.91546994535527
La mediana de la columna: co2-emissions:34.477
La desviacion de la columna: co2-emissions:181.794917134448
El minimo de la columna: co2-emissions:1.016
El maximo de la columna: co2-emissions:727.973
-------------------------------------------------------------------------------------
COLUMNA: CPI
La media de la columna: cpi:144.19360000000003
La mediana de la columna: cpi:124.74
La desviacion de la columna: cpi:54.78399814779379
El minimo de la columna: cpi:99.03
El maximo de la columna: cpi:550.93
-------------------------------------------------------------------------------------
COLUMNA: CPI_CHANGE
La media de la columna: cpi_change:6.722346368715085
La mediana de la columna: cpi_change:2.3
La desviacion de la columna: cpi_change:24.45041423496496
El minimo de la columna: cpi_change:-4.3
El maximo de la columna: cpi_change:254.9
-------------------------------------------------------------------------------------
COLUMNA: FERTILITY_RATE
La media de la columna: fertility_rate:2.698138297872339
La mediana de la columna: fertility_rate:2.245
La desviacion de la columna: fertility_rate:1.2822674777575596
El minimo de la columna: fertility_rate:0.98
El maximo de la columna: fertility_rate:6.91
-------------------------------------------------------------------------------------
COLUMNA: FORESTED_AREA
La media de la columna: forested_area:32.01542553191489
La mediana de la columna: forested_area:32.0
La desviacion de la columna: forested_area:23.791330518475522
El minimo de la columna: forested_area:0.0
El maximo de la columna: forested_area:98.3
-------------------------------------------------------------------------------------
COLUMNA: GASOLINE_PRICE
La media de la columna: gasoline_price:1.0024571428571427
La mediana de la columna: gasoline_price:0.98
La desviacion de la columna: gasoline_price:0.3688584707290473
El minimo de la columna: gasoline_price:0.0
El maximo de la columna: gasoline_price:2.0
-------------------------------------------------------------------------------------
COLUMNA: GDP
La media de la columna: gdp:477295901399.5389
La mediana de la columna: gdp:34387229486.0
La desviacion de la columna: gdp:2172173359474.053
El minimo de la columna: gdp:47271463.0
El maximo de la columna: gdp:21427700000000.0
-------------------------------------------------------------------------------------
COLUMNA: GROSS_PRIMARY_EDUCATION_ENROLLMENT
La media de la columna: gross_primary_education_enrollment:102.47021276595747
La mediana de la columna: gross_primary_education_enrollment:102.55
La desviacion de la columna: gross_primary_education_enrollment:13.151607370396855
El minimo de la columna: gross_primary_education_enrollment:23.4
El maximo de la columna: gross_primary_education_enrollment:142.5
-------------------------------------------------------------------------------------
COLUMNA: GROSS_TERTIARY_EDUCATION_ENROLLMENT
La media de la columna: gross_tertiary_education_enrollment:37.96338797814208
La mediana de la columna: gross_tertiary_education_enrollment:31.2
La desviacion de la columna: gross_tertiary_education_enrollment:29.261021657805045
El minimo de la columna: gross_tertiary_education_enrollment:0.8
El maximo de la columna: gross_tertiary_education_enrollment:136.6
-------------------------------------------------------------------------------------
COLUMNA: INFANT_MORTALITY
La media de la columna: infant_mortality:21.33280423280423
La mediana de la columna: infant_mortality:14.0
La desviacion de la columna: infant_mortality:19.548058157595797
El minimo de la columna: infant_mortality:1.4
El maximo de la columna: infant_mortality:84.5
-------------------------------------------------------------------------------------
COLUMNA: LIFE_EXPECTANCY
La media de la columna: life_expectancy:72.27967914438497
La mediana de la columna: life_expectancy:73.2
La desviacion de la columna: life_expectancy:7.48366061767797
El minimo de la columna: life_expectancy:52.8
El maximo de la columna: life_expectancy:85.4
-------------------------------------------------------------------------------------
COLUMNA: MATERNAL_MORTALITY_RATIO
La media de la columna: maternal_mortality_ratio:160.39226519337018
La mediana de la columna: maternal_mortality_ratio:53.0
La desviacion de la columna: maternal_mortality_ratio:233.502024130785
El minimo de la columna: maternal_mortality_ratio:2.0
El maximo de la columna: maternal_mortality_ratio:1150.0
-------------------------------------------------------------------------------------
COLUMNA: MINIMUM_WAGE
La media de la columna: minimum_wage:2.194133333333334
La mediana de la columna: minimum_wage:1.045
La desviacion de la columna: minimum_wage:2.9707959267641972
El minimo de la columna: minimum_wage:0.01
El maximo de la columna: minimum_wage:13.59
-------------------------------------------------------------------------------------
COLUMNA: OUT_OF_POCKET_HEALTH_EXPENDITURE
La media de la columna: out_of_pocket_health_expenditure:32.637234042553196
La mediana de la columna: out_of_pocket_health_expenditure:30.7
La desviacion de la columna: out_of_pocket_health_expenditure:19.172696629631496
El minimo de la columna: out_of_pocket_health_expenditure:0.2
El maximo de la columna: out_of_pocket_health_expenditure:81.6
-------------------------------------------------------------------------------------
COLUMNA: PHYSICIANS_PER_THOUSAND
La media de la columna: physicians_per_thousand:1.8398404255319156
La mediana de la columna: physicians_per_thousand:1.46
La desviacion de la columna: physicians_per_thousand:1.6842610452413442
El minimo de la columna: physicians_per_thousand:0.01
El maximo de la columna: physicians_per_thousand:8.42
-------------------------------------------------------------------------------------
COLUMNA: POPULATION
La media de la columna: population:333.542717948718
La mediana de la columna: population:215.056
La desviacion de la columna: population:296.4675039945089
El minimo de la columna: population:10.084
El maximo de la columna: population:973.56
-------------------------------------------------------------------------------------
COLUMNA: POPULATION_LABOR_FORCE_PARTICIPATION
La media de la columna: population_labor_force_participation:62.73806818181817
La mediana de la columna: population_labor_force_participation:62.45
La desviacion de la columna: population_labor_force_participation:10.502907065102585
El minimo de la columna: population_labor_force_participation:38.0
El maximo de la columna: population_labor_force_participation:86.8
-------------------------------------------------------------------------------------
COLUMNA: TAX_REVENUE
La media de la columna: tax_revenue:16.573964497041416
La mediana de la columna: tax_revenue:16.3
La desviacion de la columna: tax_revenue:6.961631857386574
El minimo de la columna: tax_revenue:0.0
El maximo de la columna: tax_revenue:37.2
-------------------------------------------------------------------------------------
COLUMNA: TOTAL_TAX_RATE
La media de la columna: total_tax_rate:40.8224043715847
La mediana de la columna: total_tax_rate:37.2
La desviacion de la columna: total_tax_rate:20.557661888432293
El minimo de la columna: total_tax_rate:8.0
El maximo de la columna: total_tax_rate:219.6
-------------------------------------------------------------------------------------
COLUMNA: UNEMPLOYMENT_RATE
La media de la columna: unemployment_rate:6.886363636363638
La mediana de la columna: unemployment_rate:5.36
La desviacion de la columna: unemployment_rate:5.079216403415715
El minimo de la columna: unemployment_rate:0.09
El maximo de la columna: unemployment_rate:28.18
-------------------------------------------------------------------------------------
COLUMNA: URBAN_POPULATION
La media de la columna: urban_population:279.46104444444444
La mediana de la columna: urban_population:179.039
La desviacion de la columna: urban_population:283.322352165415
El minimo de la columna: urban_population:5.464
El maximo de la columna: urban_population:984.812
-------------------------------------------------------------------------------------
COLUMNA: LATITUDE
La media de la columna: latitude:19.092351475257733
La mediana de la columna: latitude:17.273849499999997
La desviacion de la columna: latitude:23.961779464412047
El minimo de la columna: latitude:-40.900557
El maximo de la columna: latitude:64.963051
-------------------------------------------------------------------------------------
COLUMNA: LONGITUDE
La media de la columna: longitude:20.232434489175258
La mediana de la columna: longitude:20.9726515
La desviacion de la columna: longitude:66.71611018000907
El minimo de la columna: longitude:-175.198242
El maximo de la columna: longitude:178.065032
-------------------------------------------------------------------------------------

In [25]:
for col in numericas:
    media = df[col].mean()
    print(f"columna: {col}, la media:{media}")

columna: density, la media:134.5045333333333
columna: agricultural_land, la media:39.11755319148937
columna: land_area, la media:255.21266060606064
columna: armed_forces_size, la media:103.78313253012048
columna: birth_rate, la media:20.21497354497354
columna: calling_code, la media:360.54639175257734
columna: co2-emissions, la media:125.91546994535527
columna: cpi, la media:144.19360000000003
columna: cpi_change, la media:6.722346368715085
columna: fertility_rate, la media:2.698138297872339
columna: forested_area, la media:32.01542553191489
columna: gasoline_price, la media:1.0024571428571427
columna: gdp, la media:477295901399.5389
columna: gross_primary_education_enrollment, la media:102.47021276595747
columna: gross_tertiary_education_enrollment, la media:37.96338797814208
columna: infant_mortality, la media:21.33280423280423
columna: life_expectancy, la media:72.27967914438497
columna: maternal_mortality_ratio, la media:160.39226519337018
columna: minimum_wage, la media:2.194133333333334
columna: out_of_pocket_health_expenditure, la media:32.637234042553196
columna: physicians_per_thousand, la media:1.8398404255319156
columna: population, la media:333.542717948718
columna: population_labor_force_participation, la media:62.73806818181817
columna: tax_revenue, la media:16.573964497041416
columna: total_tax_rate, la media:40.8224043715847
columna: unemployment_rate, la media:6.886363636363638
columna: urban_population, la media:279.46104444444444
columna: latitude, la media:19.092351475257733
columna: longitude, la media:20.232434489175258

In [17]:
numericas.mean()

AttributeError: 'list' object has no attribute 'mean'

In [ ]:
# Calcular estadísticas
media = numericas.mean()
mediana = numericas.median()
desviacion = numericas.std()
minimo = numericas.min()
maximo = numericas.max()
# Crear un resumen de las estadísticas
estadisticas = pd.DataFrame({
    'Media': media,
    'Mediana': mediana,
    'Desviación estándar': desviacion,
    'Mínimo': minimo,
    'Máximo': maximo
})
estadisticas

2. Identifica el país con la mayor densidad de población y el país con la menor población en el conjunto de datos.

3. Calcula la tasa promedio de natalidad (birth_rate) para todos los países en el conjunto de datos.

4. Realiza un análisis de la mortalidad infantil (infant_mortality) y clasifica los países en tres categorías: baja, moderada y alta mortalidad infantil.

5. Calcula la correlación entre las variables de "fertility_rate" y "life_expectancy". Interpreta la relación entre estas dos variables. ¿Qué tipo de correlación hay? Explica la razón de esta relación

## Bonus:

6. Visualiza la distribución de la variable "cpi" utilizando un histograma y comenta sobre la distribución de los índices de percepción de corrupción.

7. Encuentra el país con la mayor diferencia entre el "gdp" (Producto Interno Bruto) y el "co2-emissions" (emisiones de dióxido de carbono).

8. Calcula el porcentaje promedio de personas que participan en la fuerza laboral(population_labor_force_participation) para todos los países.

9. Genera un mapa de calor (heatmap) de la matriz de correlación de todas las variables numéricas y discute las relaciones más destacadas.